{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["cn", "tv", "cx"],
  "printWidth": 100,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
