@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities';

:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(.dx:not(.light, .light-theme)) {
  color-scheme: dark;

  /* Higher the contrast, further the lightness of consecutive colors */
  --lightness-950: min(98%, calc(4.44% * var(--contrast-factor, 1) + 93.34%));
  --lightness-900: min(96%, calc(-7.12% * var(--contrast-factor, 1) + 100.68%));
  --lightness-800: min(94%, calc(-16.22% * var(--contrast-factor, 1) + 104.33%));
  --lightness-700: min(92%, calc(-25.34% * var(--contrast-factor, 1) + 108.01%));
  --lightness-600: min(90%, calc(-28.44% * var(--contrast-factor, 1) + 102.66%));
  --lightness-500: max(10%, min(90%, calc(-29.56% * var(--contrast-factor, 1) + 94.34%)));
  --lightness-400: max(10%, calc(-28% * var(--contrast-factor, 1) + 82%));
  --lightness-300: max(8%, calc(-33% * var(--contrast-factor, 1) + 80.67%));
  --lightness-200: max(6%, calc(-38.88% * var(--contrast-factor, 1) + 78.32%));
  --lightness-100: max(4%, calc(-44% * var(--contrast-factor, 1) + 76%));
  --lightness-50: max(2%, calc(-47.56% * var(--contrast-factor, 1) + 71.34%));

  --color-bg: var(--color-black);
  --color-fg: var(--color-white);
}

.dx:where(.light, .light-theme) {
  color-scheme: light;

  /* Higher the contrast, further the lightness of consecutive colors */
  --lightness-50: min(98%, calc(4.44% * var(--contrast-factor, 1) + 93.34%));
  --lightness-100: min(96%, calc(-7.12% * var(--contrast-factor, 1) + 100.68%));
  --lightness-200: min(94%, calc(-16.22% * var(--contrast-factor, 1) + 104.33%));
  --lightness-300: min(92%, calc(-25.34% * var(--contrast-factor, 1) + 108.01%));
  --lightness-400: min(90%, calc(-28.44% * var(--contrast-factor, 1) + 102.66%));
  --lightness-500: max(10%, min(90%, calc(-29.56% * var(--contrast-factor, 1) + 94.34%)));
  --lightness-600: max(10%, calc(-28% * var(--contrast-factor, 1) + 82%));
  --lightness-700: max(8%, calc(-33% * var(--contrast-factor, 1) + 80.67%));
  --lightness-800: max(6%, calc(-38.88% * var(--contrast-factor, 1) + 78.32%));
  --lightness-900: max(4%, calc(-44% * var(--contrast-factor, 1) + 76%));
  --lightness-950: max(2%, calc(-47.56% * var(--contrast-factor, 1) + 71.34%));

  --color-bg: var(--color-white);
  --color-fg: var(--color-black);
}

.dx {
  --chroma-50: calc(0.02 * var(--chroma-factor, 1));
  --chroma-100: calc(0.04 * var(--chroma-factor, 1));
  --chroma-200: calc(0.07 * var(--chroma-factor, 1));
  --chroma-300: calc(0.1 * var(--chroma-factor, 1));
  --chroma-400: calc(0.14 * var(--chroma-factor, 1));
  --chroma-500: calc(0.2 * var(--chroma-factor, 1));
  --chroma-600: calc(0.2 * var(--chroma-factor, 1));
  --chroma-700: calc(0.2 * var(--chroma-factor, 1));
  --chroma-800: calc(0.2 * var(--chroma-factor, 1));
  --chroma-900: calc(0.2 * var(--chroma-factor, 1));
  --chroma-950: calc(0.2 * var(--chroma-factor, 1));

  --negative-base: oklch(0% 0 20);

  --density-factor: 1;
  --density: calc(var(--base-density, 1) * var(--density-factor, 1));

  /* Colors */
  /* Default background */
  --color-accent-50: oklch(from var(--accent-base) var(--lightness-50) var(--chroma-50) h);
  /* Hover background */
  --color-accent-100: oklch(from var(--accent-base) var(--lightness-100) var(--chroma-100) h);
  /* Active background */
  --color-accent-200: oklch(from var(--accent-base) var(--lightness-200) var(--chroma-200) h);
  /* Default border */
  --color-accent-300: oklch(from var(--accent-base) var(--lightness-300) var(--chroma-300) h);
  /* Hover border */
  --color-accent-400: oklch(from var(--accent-base) var(--lightness-400) var(--chroma-400) h);
  /* Active border */ /* Default High Contrast background */
  --color-accent-500: oklch(from var(--accent-base) var(--lightness-500) var(--chroma-500) h);
  /* Hover High Contrast background */
  --color-accent-600: oklch(from var(--accent-base) var(--lightness-600) var(--chroma-600) h);
  /* Active High background */
  --color-accent-700: oklch(from var(--accent-base) var(--lightness-700) var(--chroma-700) h);
  /* Tertiary Text */
  --color-accent-800: oklch(from var(--accent-base) var(--lightness-800) var(--chroma-800) h);
  /* Secondary Text */
  --color-accent-900: oklch(from var(--accent-base) var(--lightness-900) var(--chroma-900) h);
  /* Primary Text */
  --color-accent-950: oklch(from var(--accent-base) var(--lightness-950) var(--chroma-950) h);

  --color-negative-50: oklch(from var(--negative-base) var(--lightness-50) var(--chroma-50) h);
  --color-negative-100: oklch(from var(--negative-base) var(--lightness-100) var(--chroma-100) h);
  --color-negative-200: oklch(from var(--negative-base) var(--lightness-200) var(--chroma-200) h);
  --color-negative-300: oklch(from var(--negative-base) var(--lightness-300) var(--chroma-300) h);
  --color-negative-400: oklch(from var(--negative-base) var(--lightness-400) var(--chroma-400) h);
  --color-negative-500: oklch(from var(--negative-base) var(--lightness-500) var(--chroma-500) h);
  --color-negative-600: oklch(from var(--negative-base) var(--lightness-600) var(--chroma-600) h);
  --color-negative-700: oklch(from var(--negative-base) var(--lightness-700) var(--chroma-700) h);
  --color-negative-800: oklch(from var(--negative-base) var(--lightness-800) var(--chroma-800) h);
  --color-negative-900: oklch(from var(--negative-base) var(--lightness-900) var(--chroma-900) h);
  --color-negative-950: oklch(from var(--negative-base) var(--lightness-950) var(--chroma-950) h);

  --color-gray-50: oklch(from var(--accent-base) var(--lightness-50) calc(0.1 * var(--chroma-50)) h);
  --color-gray-100: oklch(from var(--accent-base) var(--lightness-100) calc(0.1 * var(--chroma-100)) h);
  --color-gray-200: oklch(from var(--accent-base) var(--lightness-200) calc(0.1 * var(--chroma-200)) h);
  --color-gray-300: oklch(from var(--accent-base) var(--lightness-300) calc(0.1 * var(--chroma-300)) h);
  --color-gray-400: oklch(from var(--accent-base) var(--lightness-400) calc(0.1 * var(--chroma-400)) h);
  --color-gray-500: oklch(from var(--accent-base) var(--lightness-500) calc(0.1 * var(--chroma-500)) h);
  --color-gray-600: oklch(from var(--accent-base) var(--lightness-600) calc(0.1 * var(--chroma-600)) h);
  --color-gray-700: oklch(from var(--accent-base) var(--lightness-700) calc(0.1 * var(--chroma-700)) h);
  --color-gray-800: oklch(from var(--accent-base) var(--lightness-800) calc(0.1 * var(--chroma-800)) h);
  --color-gray-900: oklch(from var(--accent-base) var(--lightness-900) calc(0.1 * var(--chroma-900)) h);
  --color-gray-950: oklch(from var(--accent-base) var(--lightness-950) calc(0.1 * var(--chroma-950)) h);

  --color-white: rgb(255 255 255);
  --color-black: rgb(0 0 0);

  --spacing-1: calc(4px / var(--density)); /*    -                                */
  --spacing-2: calc(8px / var(--density)); /*    --                               */
  --spacing-3: calc(12px / var(--density)); /*   ---                              */
  --spacing-4: calc(16px / var(--density)); /*   ----                             */
  --spacing-6: calc(24px / var(--density)); /*   ------                           */
  --spacing-8: calc(32px / var(--density)); /*   --------                         */
  --spacing-10: calc(40px / var(--density)); /*  ----------                       */
  --spacing-12: calc(48px / var(--density)); /*  ------------                     */
  --spacing-14: calc(56px / var(--density)); /*  --------------                   */
  --spacing-16: calc(64px / var(--density)); /*  ----------------                 */
  --spacing-18: calc(72px / var(--density)); /*  ------------------               */
  --spacing-24: calc(96px / var(--density)); /*  ------------------------         */
  --spacing-32: calc(128px / var(--density)); /* -------------------------------- */

  --radius-sm: calc((3px / var(--density)) * var(--roundness));
  --radius-md: calc((4px / var(--density)) * var(--roundness));
  --radius-lg: calc((6px / var(--density)) * var(--roundness));
  --radius-xl: calc((8px / var(--density)) * var(--roundness));
  --radius-2xl: calc((12px / var(--density)) * var(--roundness));
  --radius-3xl: calc((16px / var(--density)) * var(--roundness));
  --radius-sm-or-full: max(var(--radius-full), calc((3px / var(--density)) * var(--roundness)));
  --radius-md-or-full: max(var(--radius-full), calc((4px / var(--density)) * var(--roundness)));
  --radius-lg-or-full: max(var(--radius-full), calc((6px / var(--density)) * var(--roundness)));
  --radius-xl-or-full: max(var(--radius-full), calc((8px / var(--density)) * var(--roundness)));
  --radius-2xl-or-full: max(var(--radius-full), calc((12px / var(--density)) * var(--roundness)));
  --radius-3xl-or-full: max(var(--radius-full), calc((16px / var(--density)) * var(--roundness)));

  /* Type scale */
  --font-size-xs: calc(0.75rem / var(--density));
  --font-size-xs--line-height: calc(1rem / var(--density));
  --font-size-sm: calc(0.875rem / var(--density));
  --font-size-sm--line-height: calc(1.25rem / var(--density));
  --font-size-base: calc(1rem / var(--density));
  --font-size-base--line-height: calc(1.5rem / var(--density));
  --font-size-lg: calc(1.125rem / var(--density));
  --font-size-lg--line-height: calc(1.75rem / var(--density));
  --font-size-xl: calc(1.25rem / var(--density));
  --font-size-xl--line-height: calc(1.75rem / var(--density));
  --font-size-2xl: calc(1.5rem / var(--density));
  --font-size-2xl--line-height: calc(2rem / var(--density));
  --font-size-3xl: calc(1.875rem / var(--density));
  --font-size-3xl--line-height: calc(2.25rem / var(--density));
  --font-size-4xl: calc(2.25rem / var(--density));
  --font-size-4xl--line-height: calc(2.5rem / var(--density));
  --font-size-5xl: calc(3rem / var(--density));
  --font-size-5xl--line-height: calc(1 / var(--density));
  --font-size-6xl: calc(3.75rem / var(--density));
  --font-size-6xl--line-height: calc(1 / var(--density));
  --font-size-7xl: calc(4.5rem / var(--density));
  --font-size-7xl--line-height: calc(1 / var(--density));
  --font-size-8xl: calc(6rem / var(--density));
  --font-size-8xl--line-height: calc(1 / var(--density));
  --font-size-9xl: calc(8rem / var(--density));
  --font-size-9xl--line-height: calc(1 / var(--density));

  /* Letter spacing */
  --letter-spacing-tighter: calc(-0.05em / var(--density));
  --letter-spacing-tight: calc(-0.025em / var(--density));
  --letter-spacing-normal: calc(0em / var(--density));
  --letter-spacing-wide: calc(0.025em / var(--density));
  --letter-spacing-wider: calc(0.05em / var(--density));
  --letter-spacing-widest: calc(0.1em / var(--density));

  /* Line-height */
  --line-height-none: calc(1 / var(--density));
  --line-height-tight: calc(1.25 / var(--density));
  --line-height-snug: calc(1.375 / var(--density));
  --line-height-normal: calc(1.5 / var(--density));
  --line-height-relaxed: calc(1.625 / var(--density));
  --line-height-loose: calc(2 / var(--density));
  --line-height-3: calc(0.75rem / var(--density));
  --line-height-4: calc(1rem / var(--density));
  --line-height-5: calc(1.25rem / var(--density));
  --line-height-6: calc(1.5rem / var(--density));
  --line-height-7: calc(1.75rem / var(--density));
  --line-height-8: calc(2rem / var(--density));
  --line-height-9: calc(2.25rem / var(--density));
  --line-height-10: calc(2.5rem / var(--density));

  /* Box Shadow */
  --shadow-none-base: 0 0 #0000;
  --shadow-inner-base: inset 0 calc(2px * var(--elevation)) calc(4px * var(--elevation)) 0
    var(--tw-shadow-color, rgb(0 0 0 / 0.05));
  /* Switch */
  --shadow-3xs-base: 0 calc(2px * var(--elevation)) calc(2px * var(--elevation)) 0
    var(--tw-shadow-color, rgb(0 0 0 / 0.05));
  /* Card */
  --shadow-2xs-base: 0 calc(2px * var(--elevation)) calc(3px * var(--elevation)) 0
    var(--tw-shadow-color, rgb(0 0 0 / 0.05));
  /* Slider thumb */
  --shadow-xs-base: 0 calc(4px * var(--elevation)) calc(6px * var(--elevation)) 0
    var(--tw-shadow-color, rgb(0 0 0 / 0.05));
  /* Button */
  --shadow-sm-base: 0 calc(10px * var(--elevation)) calc(20px * var(--elevation)) 0
    var(--tw-shadow-color, rgb(0 0 0 / 0.05));
  /* Alert, Popover, Tooltip, Card hovered, etc.. */
  --shadow-md-base: 0 calc(13px * var(--elevation)) calc(20px * var(--elevation)) 0
    var(--tw-shadow-color, rgb(0 0 0 / 0.1));
  /* Button hovered */
  --shadow-lg-base: 0 calc(13px * var(--elevation)) calc(30px * var(--elevation)) 0
    var(--tw-shadow-color, rgb(0 0 0 / 0.1));
  /* TextInput, TextArea */
  --shadow-xl-base: 0 calc(20px * var(--elevation)) calc(60px * var(--elevation)) 0
    var(--tw-shadow-color, rgb(0 0 0 / 0.1));
  /* Larger overlays: Sidebar, Sidepane, Dialog */
  --shadow-2xl-base: 0 calc(29px * var(--elevation)) calc(50px * var(--elevation)) 0
    var(--tw-shadow-color, rgb(0 0 0 / 0.25));
  /* Largest overlay */
  --shadow-3xl-base: 0 calc(29px * var(--elevation)) calc(60px * var(--elevation)) 0
    var(--tw-shadow-color, rgb(0 0 0 / 0.25));

  accent-color: var(--color-accent-500);
}

[data-shadow='none'] {
  --elevation: 0;
}

[data-shadow='small'] {
  --elevation: 0.5;
}

[data-shadow='medium'] {
  --elevation: 1;
}

[data-shadow='large'] {
  --elevation: 1.5;
}

[data-radius='none'] {
  --roundness: 0;
  --radius-full: 0px;
  --radius-thumb: 0.5px;
}

[data-radius='small'] {
  --roundness: 0.75;
  --radius-full: 0px;
  --radius-thumb: 0.5px;
}

[data-radius='medium'] {
  --roundness: 1;
  --radius-full: 0px;
  --radius-thumb: 9999px;
}

[data-radius='large'] {
  --roundness: 1.5;
  --radius-full: 0px;
  --radius-thumb: 9999px;
}

[data-radius='full'] {
  --roundness: 1.5;
  --radius-full: 9999px;
  --radius-thumb: 9999px;
}

@property --accent-base {
  syntax: '<color>';
  inherits: true;
  initial-value: oklch(0% 0 260);
}

/* Tailwind theme */
@theme {
  /* Breakpoints */
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  /* Colors */
  /* Default background */
  --color-accent-50: ;
  /* Hover background */
  --color-accent-100: ;
  /* Active background */
  --color-accent-200: ;
  /* Default border */
  --color-accent-300: ;
  /* Hover border */
  --color-accent-400: ;
  /* Active border */
  --color-accent-500: ;
  /* Default High Contrast background */
  --color-accent-600: ;
  /* Hover High Contrast background */
  --color-accent-700: ;
  /* Active background */
  --color-accent-800: ;
  /* Primary Text */
  --color-accent-900: ;
  /* Secondary Text */
  --color-accent-950: ;

  --color-negative-50: ;
  --color-negative-100: ;
  --color-negative-200: ;
  --color-negative-300: ;
  --color-negative-400: ;
  --color-negative-500: ;
  --color-negative-600: ;
  --color-negative-700: ;
  --color-negative-800: ;
  --color-negative-900: ;
  --color-negative-950: ;

  --color-gray-50: ;
  --color-gray-100: ;
  --color-gray-200: ;
  --color-gray-300: ;
  --color-gray-400: ;
  --color-gray-500: ;
  --color-gray-600: ;
  --color-gray-700: ;
  --color-gray-800: ;
  --color-gray-900: ;
  --color-gray-950: ;

  --color-white: ;
  --color-black: ;
  --color-bg: ;
  --color-fg: ;

  --spacing-1: ;
  --spacing-2: ;
  --spacing-3: ;
  --spacing-4: ;
  --spacing-6: ;
  --spacing-8: ;
  --spacing-10: ;
  --spacing-12: ;
  --spacing-14: ;
  --spacing-16: ;
  --spacing-18: ;
  --spacing-24: ;
  --spacing-28: ;
  --spacing-32: ;
  --spacing-36: ;

  --radius-sm: ;
  --radius-md: ;
  --radius-lg: ;
  --radius-xl: ;
  --radius-2xl: ;
  --radius-3xl: ;
  --radius-sm-or-full: ;
  --radius-md-or-full: ;
  --radius-lg-or-full: ;
  --radius-xl-or-full: ;
  --radius-2xl-or-full: ;
  --radius-3xl-or-full: ;
  --radius-full: ;

  --shadow-none: var(--shadow-none-base);
  --shadow-inner: var(--shadow-inner-base);
  /* Switch */
  --shadow-3xs: var(--shadow-3xs-base);
  /* Card */
  --shadow-2xs: var(--shadow-2xs-base);
  /* Slider thumb */
  --shadow-xs: var(--shadow-xs-base);
  /* Button */
  --shadow-sm: var(--shadow-sm-base);
  /* Alert, Popover, Tooltip, Card hovered, etc.. */
  --shadow-md: var(--shadow-md-base);
  /* Button hovered */
  --shadow-lg: var(--shadow-lg-base);
  /* TextInput, TextArea */
  --shadow-xl: var(--shadow-xl-base);
  /* Larger overlays: Sidebar, Sidepane, Dialog */
  --shadow-2xl: var(--shadow-2xl-base);
  /* Largest overlay */
  --shadow-3xl: var(--shadow-3xl-base);

  /* Type scale */
  --font-size-xs: ;
  --font-size-xs--line-height: ;
  --font-size-sm: ;
  --font-size-sm--line-height: ;
  --font-size-base: ;
  --font-size-base--line-height: ;
  --font-size-lg: ;
  --font-size-lg--line-height: ;
  --font-size-xl: ;
  --font-size-xl--line-height: ;
  --font-size-2xl: ;
  --font-size-2xl--line-height: ;
  --font-size-3xl: ;
  --font-size-3xl--line-height: ;
  --font-size-4xl: ;
  --font-size-4xl--line-height: ;
  --font-size-5xl: ;
  --font-size-5xl--line-height: ;
  --font-size-6xl: ;
  --font-size-6xl--line-height: ;
  --font-size-7xl: ;
  --font-size-7xl--line-height: ;
  --font-size-8xl: ;
  --font-size-8xl--line-height: ;
  --font-size-9xl: ;
  --font-size-9xl--line-height: ;

  /* Letter spacing */
  --letter-spacing-tighter: ;
  --letter-spacing-tight: ;
  --letter-spacing-normal: ;
  --letter-spacing-wide: ;
  --letter-spacing-wider: ;
  --letter-spacing-widest: ;

  /* Line-height */
  --line-height-none: ;
  --line-height-tight: ;
  --line-height-snug: ;
  --line-height-normal: ;
  --line-height-relaxed: ;
  --line-height-loose: ;
  --line-height-3: ;
  --line-height-4: ;
  --line-height-5: ;
  --line-height-6: ;
  --line-height-7: ;
  --line-height-8: ;
  --line-height-9: ;
  --line-height-10: ;
}

@media (pointer: coarse) {
  .dx {
    --density-factor: 0.8;
  }
}
